{
    email alexey.e.muratov@gmail.com
}

# Newzer backend
api.dev.newzer.ru {
    encode gzip
    reverse_proxy http://127.0.0.1:8080
}

# InterHub frontend
interhub.online {
    encode gzip
    root * /opt/interhub/frontend-dist/dist
    try_files {path} /index.html
    file_server
}

# InterHub backend
api.interhub.online {
    encode gzip
    reverse_proxy http://127.0.0.1:18080
}